<div class="container" style="background-color: white">
  <div class="container">
    <h1 class="ldblue text-darken-2 tk-pollen-web center">{{vm.userName}}'s Grudges</h1>
    <div class="row ldblue center">
      <span input-field style="display: inline-block;width: 30%">
        <input id="grudge-offender" type="text" ng-model="vm.offender">
        <label>Who crossed you?</label>
      </span>
      <span input-field style="display: inline-block; width: 50%">
        <input id="grudge-offense" type="text" ng-model="vm.offense">
        <label>What did the jerk do?</label>
      </span>
      <span style="display: inline-block; width: 15%">
        <a class="btn-floating secondary-content btn-small waves-effect waves-light red darken-4" ng-disabled="!vm.offender.length || !vm.offense.length" ng-click="vm.submitGrudge()"><i class="material-icons">add</i></a>
      </span>
    </div>
  </div>
  <div class="row center" style="margin-top: 10px">
    <span style="display: inline-block; width: 22%" class="tk-pollen-web flow-text ldblue ">Grudge Count:</span>
    <span style="display: inline-block; width: 22%" class="flow-text condensed">{{vm.grudgeCount}} grudges</span>
    <span style="display: inline-block; width: 22%" class="flow-text">{{vm.forgiven}} forgiven</span>
    <span style="display: inline-block; width: 22%" class="flow-text">{{vm.unforgiven}} unforgiven</span>
  </div>
  <br>

  <div ng-repeat="grudge in vm.grudges | filter:{}">
    <div class="collapsible-header" style="padding-right: 0px">
      <ul class="collection with-header">
        <li class="collection-item avatar" ui-sref="grudge({user: vm.userName, gid: grudge.id, grudge: grudge})">
          <div ng-if="!grudge.forgiven">
            <i class="material-icons circle red darken-4">thumb_down</i>
          </div>
          <div ng-if="grudge.forgiven">
            <i class="material-icons circle green darken-4">thumb_up</i>
          </div>
          <h4 class="title">{{grudge.offender}}</h4>
          <p class="center" for="{{grudge.id}}" style="display: initial;">{{grudge.offense}}<br>
          Known to be a jerk since {{vm.formatDate(grudge.madSince)}}
          </p>
          <a data-target="deleteGoalModal" class="secondary-content" style="color: black;" modal>
            <i tooltipped data-position="bottom" data-delay="100" data-tooltip="Delete Grudge" ng-click="vm.currentDeleteGoal = grudge" class="large material-icons right" data-target="deleteGoalModal" style="margin: 10px 15px 10px 0px;">delete_forever</i>
          </a>
          <div id="deleteGoalModal" class="modal" style="width: 40%; height: 25%;">
            <div class="modal-content center">
              <span class="tk-pollen-web ldblue" style="font-size: 125%;">Are you sure you want to delete your grudge?</span>
              <br>
              <a class="waves-effect waves-light light-blue darken-4 btn modal-action modal-close tk-pollen-web" ng-click="vm.deleteGoal(vm.currentDeleteGoal.id)" style="color:white;">Yes</a>
              <a class="waves-effect waves-light light-blue darken-4 btn modal-action modal-close tk-pollen-web" style="color:white;">No</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</tab-trap>