<!-- App -->
<div class="container" style="background-color: white">
  <h4 class="tk-pollen-web ldblue">Welcome, {{vm.userName}}!</h4>
  <h3 class="tk-pollen-web ldblue center">Grudges</h3>
  <div class="col">
    <!-- Add Main Goal New Page Button -->
  </div>
  <br>

  <!-- Current Goals -->
  <div ng-repeat="grudge in vm.grudges | filter:{}">
    <div class="collapsible-header" style="padding-right: 0px">
      <ul class="collection with-header">
        <li class="collection-item avatar" ui-sref="grudge({user: vm.userName, gid: grudge.id, grudge: grudge})">
          <i class="material-icons circle red darken-4">thumb_down</i>
          <span class="title">{{grudge.offender}}</span><br>
          <p class="center" for="{{grudge.id}}" style="display: initial;">{{grudge.offense}}</p>
          <!-- Delete Goal -->
          <a data-target="deleteGoalModal" class="secondary-content" style="color: black;" modal>
            <i tooltipped data-position="bottom" data-delay="100" data-tooltip="Delete Grudge" ng-click="vm.currentDeleteGoal = grudge" class="large material-icons right" data-target="deleteGoalModal" style="margin: 10px 15px 10px 0px;">delete_forever</i>
          </a>
          <!-- Delete Goal Modal -->
          <div id="deleteGoalModal" class="modal" style="width: 40%; height: 25%;">
            <div class="modal-content center">
              <span class="tk-pollen-web ldblue" style="font-size: 125%;">Are you sure you want to delete your grudge?</span>
              <br>
              <a class="waves-effect waves-light light-blue darken-4 btn modal-action modal-close tk-pollen-web" ng-click="vm.deleteGoal(vm.currentDeleteGoal.id)" style="color:white;">Yes</a>
              <a class="waves-effect waves-light light-blue darken-4 btn modal-action modal-close tk-pollen-web" style="color:white;">No</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</tab-trap>