<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
</head>
<nav role="navigation">
  <div class="nav-wrapper blue">
    <ul class="right">
      <li><a ui-sref="grudges({user: vm.userName})">Your Grudges</a></li>
      <li ><a href="#">Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="background-color: white">
  <div class="container">
    <h1 class="ldblue text-darken-2 tk-pollen-web center">{{vm.userName}}'s Grudges</h1>
    <div class="row ldblue center">
      <span input-field style="display: inline-block;width: 30%">
        <input id="grudge-offender" type="text" ng-model="vm.offender">
        <label>Who crossed you?</label>
      </span>
      <span input-field style="display: inline-block; width: 50%">
        <input id="grudge-offense" type="text" ng-model="vm.offense">
        <label>What did the jerk do?</label>
      </span>
      <span style="display: inline-block; width: 15%">
        <a class="btn-floating secondary-content btn-small waves-effect waves-light red darken-4" ng-disabled="!vm.offender.length || !vm.offense.length" ng-click="vm.submitGrudge()"><i class="material-icons">add</i></a>
      </span>
    </div>
  </div>
  <div class="row center" style="margin-top: 10px">
    <span style="display: inline-block; width: 22%" class="tk-pollen-web flow-text ldblue ">Grudge Count:</span>
    <span style="display: inline-block; width: 22%" class="flow-text condensed">{{vm.grudgeCount}} grudges</span>
    <span style="display: inline-block; width: 22%" class="flow-text">{{vm.forgiven}} forgiven</span>
    <span style="display: inline-block; width: 22%" class="flow-text">{{vm.unforgiven}} unforgiven</span>
  </div>
  <br>
  <div class="center">
    <h5 class="text-center">Search and Order Your Grudges</h5>
  </div>
  <div class="row center">
    <div class="input-field inline" style="display: inline-block; width: 30%">
      <input id="search" type="text" class="validate" ng-model="vm.search">
      <label for="search" data-error="wrong" data-success="right">Search</label>
    </div>
    <div class="btn" style="display: inline-block; width: 25%" ng-click="vm.sortBy('madSince')">Date of Offense</div>
    <div class="btn" style="display: inline-block; width: 25%" ng-click="vm.sortBy('offender')">Offender</div>
  </div>
  <br>
  <div ng-repeat="grudge in vm.grudges | filter:vm.search">
    <div class="collapsible-header" style="padding-right: 0px">
      <ul class="collection with-header">
        <li class="collection-item avatar">
          <div ui-sref="grudge({user: vm.userName, gid: grudge.id, grudge: grudge})">
            <div ng-if="!grudge.forgiven">
              <i class="material-icons circle red darken-2">thumb_down</i>
            </div>
            <div ng-if="grudge.forgiven">
              <i class="material-icons circle green darken-2">thumb_up</i>
            </div>
            <h4 class="title">{{grudge.offender}}</h4>
            <p class="center" for="{{grudge.id}}" style="display: initial;">{{grudge.offense}}<br>
            Known to be a jerk since {{vm.formatDate(grudge.madSince)}}
            </p>
          </div>
          <a class="secondary-content" style="color: black;" modal>
            <i data-ng-click="vm.currentDeleteGrudge = grudge; vm.delete()" class="large material-icons right" style="margin: 10px 15px 10px 0px;">delete_forever</i>
          </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</tab-trap>